body { font-family:"new century schoolbook", arial, sans-serif; color: #122151; background:#f4f4fa}
#mapid { height: 500px; width: 600px}
#status { margin-top:0px}
#statusold { margin-bottom:0px; color:gray; max-height:100px; overflow:auto}
#attribution { font-size:smaller}
.ie10up { display:none; }
_:-ms-lang(x), .ie10up { display:block; }



.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}


